server:
  port: 8080
  servlet:
    context-path: /api-ecommerce/api/v1/
  forward-headers-strategy: FRAMEWORK

spring:
  datasource:
    url: ${DATASOURCE_URL}
    driver-class-name: org.postgresql.Driver
    username: ${DATASOURCE_USER}
    password: ${DATASOURCE_PASS}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
